data/out
target
.idea
smv.iml
/bin/
/.settings/
/.classpath
/.project
/.cache
**/.c9*
derby.log
metastore_db/
.DS_Store
.ensime*

/R/lib
/R/smvR/man
.Rproj.user
.Rapp.history
.Rhistory
.RData

.sync-config.cson
