data/out
target
.idea
*.iml
/bin/
/.settings/
/.classpath
/.project
/.cache
**/.c9*
derby.log
metastore_db/
.DS_Store
.ensime*
/venv
.python-version
.tox
Pipfile
Pipfile.lock

/R/lib
/R/smvR/man
.Rproj.user
.Rapp.history
.Rhistory
.RData

.vscode/
.sync-config.cson
*.pyc
