Flask
# iPython 6+ does not support Python < 3.3, so need to pin this for Python2 support
# https://ipython.readthedocs.io/en/stable/whatsnew/version5.html
ipython<6
jupyter
graphviz
sphinx
decorator
tox